# API do Google Gemini
VITE_GEMINI_API_KEY=AIzaSyBuKuEqXVvvfO0-FH_BXmSJ4ZUba6eYync

# API do Unsplash (para imagens)
VITE_UNSPLASH_ACCESS_KEY=_waIEi5tz9U9gcBMNAz3FBlQjArwVrWMxXCrvegX82w

# Para obter as chaves:
# Gemini: https://makersuite.google.com/app/apikey
# Unsplash: https://unsplash.com/developers